* {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Space Mono';
    color: white;
    margin: 2em;
}
#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}
.hero {
    width: 100%;
    height: 100vh;
    background-color: #261C2C;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    display: flex;
    position: absolute;
    top: 750px;
}
.hero-card {
    width: 80%;
    height: 100%;
    background-color: #3e2c41;
    border-radius: 25px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
    top: -5em;
}
.card {
    width: 30%;
    height: 70%;
    background-color: #5C527F;
    border-radius: 25px;

}
.projects {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
}
.particle-wrapper {
    z-index: -10;
}
@font-face {
    font-family: 'Space Mono';
    src:  local('Space Mono'), url(fonts/SpaceMono-Regular.ttf) format('ttf'),
    local('Space Mono'), url(fonts/SpaceMono-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Space Mono Bold';
    src:  local('Space Mono'), url(fonts/SpaceMono-Bold.ttf) format('ttf'),
    local('Space Mono'), url(fonts/SpaceMono-Bold.woff) format('woff');
}