#drawer .MuiPaper-root {
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
    text-align: left;
    background: #100c12;
    overflow-x: hidden;
    width: 30vw;
}
#drawer hr {
    margin-left: 1em;
    width: 100%;
}
#drawer a {
    filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
    letter-spacing: 2px;
    text-align: right;
}
#drawer a:hover {
    cursor: pointer;
}
@media (min-width: 320px) and (max-width: 480px) {
    #drawer .MuiPaper-root {
        width: 50vw;
    }
}