.footer {
    text-align: center;
    padding: 2em;
    position: relative;
}
.footer a {
    font-size: 0.7em;
    color: #fff;
    margin: 2em;
    text-decoration: none;
}

.down-arrow {
    transition: 0.22s ease-in-out;
}
.down-arrow:hover {
    transition: 0.16s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
}
/* MOBILE */
@media (min-width: 320px) and (max-width: 480px) {
    .footer {
        padding: 0 1em 2em 1em;
    }
}