.footer {
    text-align: center;
    padding: 2em;
    position: relative;
}
.footer a {
    font-size: 0.7em;
    color: #fff;
    margin: 2em;
    text-decoration: none;
}

.hero-footer {
    position: absolute;
    bottom: 0;
}
.down-arrow {
    filter: invert();
    z-index: 999;
    width: 100px;
    height: 190px;
    transform: rotate(270deg);
    transition: 0.22s ease-in-out;
}
.down-arrow:hover {
    transition: 0.12s ease-in-out;
    opacity: 0.5;
    mix-blend-mode: soft-light;
    cursor: pointer;
    transform: scaleX(1.1)translateY(5px) rotate(270deg);
}