h4 {
    text-align: center;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    padding-left: 0;
}

#toolbar {
    flex: 1;
    justify-content: flex-end;
}

#navbar{
    z-index: 99;
    background: -webkit-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 0%, rgba(0,0,0,0.001) 80%);
    background: -moz-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 0%, rgba(0,0,0,0.001) 80%);
    background: -ms-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 0%, rgba(0,0,0,0.001) 80%);
    background: -o-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 0%, rgba(0,0,0,0.001) 80%);
}

.nav-item {
    margin: 1.5em 1em;
    line-height: 1.6;
    letter-spacing: 0.130556em;
    float: right;
    transition: 0.3s ease-out;
}
.nav-item a {
    font-family: "Space Mono";
    font-size: 0.9em;
    color: white;
}
.nav-item a:before, #drawer a:before {
    color: #6E85B2;
    content: '<';
}
.nav-item a:after, #drawer a:after {
    color: #6E85B2;
    content: '/>';
}
.nav-logo {
    margin-right: auto;
    line-height: 1.6;
    letter-spacing: 0.130556em;
    float: left;
}
.nav-item:hover {
    cursor: pointer;
    color: #bebebe;
}

@media (max-width: 960px) {
    #toolbar{
        flex: 1;
        justify-content: flex-end;
    }

    #toolbar a:link {
        color: #b6995a;
    }

    #toolbar a:visited {
        color: #b6995a;
    }

    #toolbar a:hover {
        color: black;
    }

    li a {
        height: 100%;
        display: block;
        color: #b6995a;
        text-align: left;
        text-decoration: none;
    }
    #navbar {
        position: fixed;
    }

}